
<!-- login -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Amity Online Library</title>
  <!-- <link rel="stylesheet" href="/public/styles.css"> -->
  <!-- Add other CSS files if needed -->
  <style>
    /* Your CSS styles here (if any) */
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      
    }

   
    h1 {
      text-align: center;
      margin-top: 20px;
    }
    .tutorial-info {
      width: 80%;
      margin: 30px auto;
    }
    .tutorial-info li {
      margin-bottom: 10px;
    }
    .banner {
      background-color: #f0f0f0;
      padding: 20px;
      text-align: center;
    }

   
  </style>
</head>

<body>
  <!-- Include the header -->

  

  
  <%- include('./layouts/header') %>
  
  
  <h1 class="title">Digital Library Management System</h1>

  <!-- Include the footer -->
  <%- include('./layouts/footer') %>

</body>

</html>