<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form</title>

  <style>
    
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f4f4f4;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    h1 {
      text-align: center;
      color: #3498db;
      margin-bottom: 20px;
    }

    /* Style for the login form */
    .lg-form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
    }

    .lg-form label {
      font-weight: bold;
    }
    .lg-form input {
      width: 90%;
      padding: 10px;
      margin: 8px 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }

    .lg-form input[type="submit"] {
      background-color: #3498db;
      width: auto;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .lg-form input[type="submit"]:hover {
      background-color: #2980b9;
    }
    .lg-form a {
      color: #3498db;
      text-decoration: none;
    }

    .lg-form a:hover {
      text-decoration: underline;
    }

    .new-account {
      text-align: center;
      margin-top: 20px;
    }

    .new-account a {
      color: #3498db;
      text-decoration: none;
    }

    .new-account a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>

  
    <%- include ('./layouts/header') %>
   
        <h1>Login</h1>
        <form action="/auth/login" method="post" class="lg-form">
          <div>
            <label for="email">Email/Username</label>
            <input type="email" name="email" id="email" required />
          </div>
          <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />
          </div>
          
          <div >
            <input type="submit" value="Login" class="submit-button" />
          </div>
        </form>

        <div class="new-account">
          <p>Don't have an account? <span><a href="/auth/register">Register</a></span></p>
        </div>
      </div>

      <%- include ('./layouts/footer') %>
  </div>
</body>

</html>